body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, #000000, #1a1a1a);
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}


header {
    background: linear-gradient(90deg, #000000, #444444);
    padding: 25px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 3px solid #ffffff;
    text-shadow: 0 0 10px #ffffff88;
}

.container {
    padding: 30px;
}

button {
    background: linear-gradient(90deg, #ffffff, #d9d9d9);
    color: #000;
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 10px #ffffff55;
}

button:hover {
    background: #bbbbbb;
    box-shadow: 0 0 14px #ffffff88;
}

.car-card {
    border: 2px solid #ffffff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #1b1b1b, #2c2c2c);
    box-shadow: 0px 0px 12px #ffffff33;
    transition: 0.3s;
}

.car-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 18px #ffffff77;
}

form {
    margin-top: 25px;
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(180deg, #1a1a1a, #2e2e2e);
    box-shadow: 0px 0px 15px #ffffff33;
}

input,
select {
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #f2f2f2;
    color: #000;
    font-size: 15px;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffffaa;
    outline: none;
}

#extra-field {
    display: none;
}

#timer {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #333, #555);
    border-radius: 8px;
    box-shadow: 0 0 10px #ffffff55;
    text-align: center;
}

.campo {
  width: 98%;
  height: 35px;
}
.campo2 {
  width: 99%;
  height: 50px;
}

.mot-card {
    border: 2px solid #ffffff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #1b1b1b, #2c2c2c);
    box-shadow: 0px 0px 12px #ffffff33;
    transition: 0.3s;
}

.mot-card:hover {
   transform: scale(1.02);
    box-shadow: 0px 0px 18px #ffffff77;
}